@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["Professor"]</h4>
<h5>@ViewData["Email"] </h5>

<p>Use this area to provide additional information.</p>
